<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://formspree.io"
    Header set Access-Control-Allow-Methods "POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>

<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "https://formspree.io"
    Header always set Access-Control-Allow-Methods "POST, OPTIONS"
    Header always set Access-Control-Allow-Headers "Content-Type"
</IfModule>